<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>공지사항 수정</title>
    </head>
    <body>
        <h1>공지사항 수정</h1>
        <form action="/notice/modify" method="post" th:object="${notice}" enctype="multipart/form-data">
            <input type="hidden" name="noticeNo" th:value="*{noticeNo}">
            <ul>
                <li>
                    <label>제목</label>
                    <input type="text" name="noticeSubject" th:value="*{noticeSubject}">
                </li>
                <li>
                    <label>내용</label>
                    <textarea rows="4" cols="50" name="noticeContent" th:text="*{noticeContent}"></textarea>
                </li>
                <li>
                    <label>첨부파일</label>
                    <th:block th:if="*{noticeFile != null}">
                        <a th:href="@{|*{noticeFile.filePath}*{noticeFile.fileRename}|}"
                           th:download="${notice.noticeFile.fileName}">다운로드</a>
                    </th:block>
                    <th:block th:if="*{noticeFile == null}">
                        <span>없음</span>
                    </th:block>
                    <input type="file" name="reloadFile">
                </li>
            </ul>
            <div>
                <input type="submit" th:value="수정">
            </div>
        </form>
    </body>
</html>