<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="customerStore" class="impl.store.customer.com.adele.spring.CustomerStoreImpl" />
    <bean id="customerService" class="impl.service.customer.com.adele.spring.CustomerServiceImpl">
<!--        <property name="store" ref="customerStore" />-->
        <constructor-arg ref="customerStore" />
    </bean>
</beans>