div {
    border: 1px solid black;
    box-sizing: border-box;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 150px;
}

#header-layout1 {
    width: 15%;
    height: 100%;
    float: left;
}
#header-layout2 {
    width: 70%;
    height: 100%;
    float: left;
}
#header-layout3{
    width: 15%;
    height: 100%;
    float: left;
}

#navigator {
    width: 100%;
    height: 50px;
}

#main {
    width: 100%;
    height: 500px;
}
#main-layout1 {
    width: 10%;
    height: 100%;
    float: left;
}
#main-layout2 {
    width: 70%;
    height: 100%;
    float: left;
}
#main-layout3 {
    width: 20%;
    height: 100%;
    float: left;
}

#footer {
    width: 100%;
    height: 100px;
}